body {
				background-color: black;
				padding: 0px;
				margin: 0px;
}
.video-container {
				position: sticky;
				top: 0px;
				padding: 0px;
				z-index: 1000;
				width: 100%;
				height: 350px;
				background: #111;
}
#player {
				width: 100%;
				height: 210px;
				position: relative;
				object-fit: fill;
}
#tiviku {
				border-radius: 4px;
				width: 30px;
				height: 10px;
				bottom: 292px;
				position: relative;
				left: 3px;
}
#imgee {
				width: 80px;
				height: 90px;
				position: relative;
				left: 210px;
				top: 18px;
				border-radius: 5px;
				border: 1px solid red;
}
#txtt {
				color: whitesmoke;
				text-align: center;
				font-size: 16px;
				color: red;
				font-weight: bold;				
}
#tt {
				width: 210px;
				height: 100px;
				position: relative;
				left: 20px;
				bottom: 115px;
				padding: 0px;
				margin: 0px;
				bottom: 90px;
}
#search {
				border-radius: 8px;
				background: whitesmoke;
				margin: 0px;
}
#carii {
				position: relative;
				top: 30px;
				padding: 0px;
				right: 90px;
				z-index: 1000;
}
#channel-list {
				overflow: scroll;
				padding: 5px;
				position: relative;
				background-color: #111;
				border-radius: 8px;
}
#ilt {
				width: 30px;
				height: 40px;
				border-radius: 5px;
				margin-right: 10px;
}
#list {
				align-items: center;
				margin-bottom: 10px;
				display: flex;
}
#klk {
				color: #fff;
				background-color: #333;
				border-radius: 5px;
				flex: 1;
				padding: 5px;
				text-decoration: none;
				display: block;
				font-size: 16px;
}
